# {{ ansible_managed }}
#
server {
  listen 80;
  listen [::]:80;

  root /var/www/html;

  index index.html;

  server_name {% if inventory_hostname != streaming.backend.server_name %}{{ inventory_hostname }} {% endif %}{{ streaming.frontend.server_names|join(' ') }};

  # Forward Let's Encrypt challenges to the backend
  location /.well-known/ {
    return 301 http://{{ streaming.backend.server_name }}$uri;
  }

  # Redirect non-https traffic to https
  location / {
    return 301 https://$host$request_uri;
  }
}
