[Unit]
Description=Voctomix source {{ item.0 }}:\
  {{ item.1.connection }} {%- if item.1.audio %} + audio {%- endif %}\
  blackmagic from card {{ item.1.card }}
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/voctomix-ingest -v \
  --video-source blackmagic \
  --video-attribs 'device-number={{ item.1.card }} \
{% if item.1.connection is defined -%}
    connection={{ item.1.connection }} \
{% endif -%}
    mode={{ item.1.mode | default(blackmagic_default_mode) }} \
    ' \
{% if item.1.audio -%}
  --audio-source blackmagic \
  --audio-attribs 'device-number={{ item.1.card }} connection=embedded' \
{% endif -%}
  --port {{ 10000 + item.0 }}
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
