[Unit]
Description=Voctomix ingest source {{ item.0 }}: {{ item.1.description }}
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/voctomix-ingest -v \
  --video-source  {{ item.1['video-source'] }} \
  --video-attribs '{{ item.1['video-attribs'] }}' \
  --audio-source {{ item.1['audio-source'] }} \
  --audio-attribs '{{ item.1['audio-attribs'] }}' \
  --port {{ item.1.port }}
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
