[global]
media_dir=/srv/{{ nfs_server }}/video/
dv_format=hdv_720_{{ voctomix.framerate | int }}p
upload_formats={{ upload_formats|join(' ') }}
client={{ org }}
show={{ show }}
{% if room_name is defined %}
room={{ room_name }}
{% endif %}
