## {{ ansible_managed }}

deb {{ debian_source }} {{ debian_version }} main contrib non-free

# Backports!!

deb {{ debian_source }} {{ debian_version }}-backports main contrib non-free
{% if debian_version == 'stretch' %}
deb {{ debian_source }} {{ debian_version }}-backports-sloppy main contrib non-free
{% endif %}
